<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.edu.ucu.android.tramitesuy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.LoadProceedingsService"
            android:exported="false"></service>

        <provider
            android:name=".provider.ProceedingsProvider"
            android:authorities="uy.edu.ucu.android.tramitesuy"
            android:exported="false" />

        <activity android:name=".activities.MainActivity"></activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="uy.edu.ucu.android.tramitesuy.service.receiver.PROGRESS" />
                <action android:name="uy.edu.ucu.android.tramitesuy.service.receiver.FINISHED" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.LoadFinishedBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="uy.edu.ucu.android.tramitesuy.service.receiver.FINISHED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
